.count-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-up-item{
    text-align: center;
    margin: 0px 50px;
}
.count-icon{
    font-size: 72px;
}
.count-number{
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.count-text{
    font-size: 32px;
    font-weight: 500;
}